* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   /*  outline: 1px solid red;
    outline-offset: -1px; */
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


.top-right-pic img {
    width: 100%;
    object-fit: fill;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    border: 0;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
}

.top-container-bg {
    background-color: #1f2937;
}

.mid-container-bg {
    background-color: white;
}

.bottom-container-bg {
    background-color: #E5E7EB;
}

.top-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin: 0 auto auto
}

.header {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
    margin-top: 12px;
}
.header-links {
    display: flex;
    justify-content: right;
    gap: 24px;
}

.header-links:hover {
    text-decoration: underline;
}

.header-logo img {
    border-radius: 50%;
    height: 50px;
    border: 2px solid white;
}

.top-left-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
}

.top-right-pic {
    max-width: 920px;
    max-height: 240px;
    margin-left: 5%;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15%;
}

.desc-section {
    font-size: 18px;
    color: #E5E7EB;
}

.desc-section * {
    margin-bottom: 20px;
}

.sign-up {
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #E5E7EB;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px;
    padding-left: 35px;
    padding-right: 35px;
    transition-duration: 0.4s;
}

.mid-title {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.sign-up:hover {
    background-color: #E5E7EB;
}

.sign-up:hover a {
    color:#3882F6;
}

.mid-tiles {
    display: flex;
    justify-content: center;
    align-items:baseline;
    text-align: center;
    gap: 82px;
    margin-bottom: 10%;
}
progress {
    display: inline-flex;
    justify-content: center;
    align-self: center;
}
progress:hover:before {
    display: inline;
    content: attr();
}

.html, .css, .js, .python {
    display: flex;
    flex-direction: column;
    width: 165px;
}

.html img, .css img, .js img, .python img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 165px;
    height: auto;
    margin: 0 auto auto;
    border: 5px solid #3882F6;
    border-radius: 25px;
    padding: 16px;
}
.rps, .sorter, .sketch{
    display: flex;
    flex-direction: column;
    width: 179px;
    align-items: center;
}
.rps .heroicon, .sorter .heroicon, .sketch .heroicon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 179px;
    height: auto;
    margin: 0 auto auto;
    border: 5px solid #f8c408;
    border-radius: 25px;
    padding: 16px;
}
.rps .heroicon:hover, .sorter .heroicon:hover, .sketch .heroicon:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    cursor: pointer;
    transition: 1s ease;
}
.icon{
    width: 34px;
}
.subtext {
    display: flex;
    flex-direction: column;
    color: #1f2937;
    margin-top: 10px;
    border: 5px;
    justify-content: center;
}

.bottom-container {
    display: flex;
    justify-content: center;
}
.iconborder{
    border: 3px solid #f8c408;
    border-radius: 25px;
    padding: 6px;
    margin-top: 6px;
    border-left: solid;
    border-right: solid;
    padding-left: 12px;
    padding-right: 12px;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    display: flex;
    text-align: left;
    justify-content: center;
    width: 800px;
    margin-top: 15%;
}

.author {
    font-size: 24px;
    font-weight: 800;
    color: #1f2937;
    display: flex;
    align-self: flex-end;
    margin-bottom: 15%;
}
div.track, div.bar {
    box-sizing: border-box;
    position: relative;
}
 
div.progress {
    align-self: center;
    width: 104px;
    padding-left: 2px;
    padding-right: 2px;
    height: 21px;
    border-radius: 15px;
    border: solid 2px #4e4e4e;
}
 
div.bar {
    height: 11px;
    width: 20px;
    background-color: #00ff15;
    position: relative;
    border-radius:30px;
    margin-left: 2px;
    margin-right: 2px;
    top: 3px;
    float: left;
    clear: top;
}

.bottom-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 0 auto;
}
.final-container-bg {
    background-color: white;
}

.final-container {
    display: flex;
    justify-content: center;
    gap: 150px;
    background-color: #3882F6;
    border-radius: 8px;
    width: 1200px;
    margin: 7% auto;
    padding: 55px;
}

.call {
    font-size: 24px;
    color: #E5E7EB;
    font-weight: 800;
    margin-bottom: 5px;
}

.call-subtext {
    font-size: 18px;
    color: #E5E7EB;
}


#supbot {
    border: 3px solid #f9faf8;
    box-sizing: border-box;
    height: 40px;
    width: auto;
    align-self: flex-end;
}

.footer {
    background-color: #1f2937;
    color: #E5E7EB;
    text-align: center;
    padding: 30px;
    margin-top: auto;
}
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltiptext {
    visibility: hidden;
    width: 113px;
    background-color: #e5e7eb;
    color: #1f2937;
    text-align: center;
    border-radius: 11px;
    padding: 6px 0;
    position: absolute;
    z-index: 1;
    bottom: 130%;
    left: 50%;
    margin-left: -57px;
    font-size: 0.85rem;
}
  
.tooltip:hover .tooltiptext {
    visibility: visible;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropbtn{
      width: 36px;
      height: auto;
      cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #1f2937;
    box-shadow: 3px 8px 16px 0px rgba(0,0,0,0.2);
    width: 36px;
    height: 36px;
  }
  .dropdown-flag{
      width: 36px;
      height: auto;
  }
  .show {
      display:block;
    }

#cv {
    height: 40px;
}

@media only screen and (max-width: 1024px) {  
    html,body{
        overflow-x: hidden;
    }
    .top-container, .bottom-container, .final-container{
        width: 100%;
    }
    .hero-container, .header, .bottom-container{
        padding: 4%;
    }
    .mid-tiles{
        gap: 2%;
    }
    
}

@media only screen and (max-width: 425px) {
    html,body{
        overflow-x: hidden;
    }
    .top-container, .final-container, .bottom-container{
        width: 100%;
    }
    .hero-container, .header, .final-container, .bottom-container{
        padding: 4%;
    }
    .hero-container{
        display: block;
    }
    .desc-section{
        text-align: center;
    }
    .top-right-pic{
        margin-left: 0%;
    }
    .mid-tiles{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .mid-title{
        text-align: center;
    }
    .final-container{
        gap: 3rem;
    }
}